.navbar {
  text-align: left;
}

.backgroundImg {
  background-image: url("./img/sneakersgrayedout.png");
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.searchbar {
  margin: 0 auto;
  position: relative;
  top: 40%;
  max-width: 50%;
  padding: 15px;
}
